
body {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "aside"
        "footer";
}
header {
top: 15px;
background-color: black;
color: yellow;
height: 70px;
z-index: 1;
width: 100%;
}
header img {  
float: left;
width: 40px;
height: 40px;
margin-left: 50px;
margin-top: 10px;
}
header img:hover {
    width: 50px;
    height: 50px;
}
header > h1 {
margin: 10px;
text-align: center;
}
.dropdown {
display: inline-block;
position: relative;
width: 100%;
}
.dropdown-btn {
background: lightcoral;
color: black;
text-decoration-line: underline;
border: none;
cursor: pointer;
margin: 0;
}
.dropdown-content {
box-shadow: rgb(46, 51, 46);
display: none;
position: absolute;
background-color: rgb(223, 226, 220);
z-index: 0;
}
.dropdown-content a {
color: black;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: rgb(83, 15b1, 240);
color: black;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover .dropdown-btn {
background: rgb(247, 163, 163);
font-family: inherit;
color: white;
}
.cover-top {
list-style: none;
background: lightcoral;
margin: 0;
}
.cover-top li {
   display: inline-block;
}
.cover-top li a {
   display: block;
   padding: 10px 10px;
   color: black
}
.cover-top a:hover{
  background: rgb(247, 163, 163);
  color: white;
}
.cover-nav {
     background-color: #C8E3D4; 
        /* background: linear-gradient(to left, #C8E3D4, #B5DEFF, #FFBCBC); */
    display: flex;
    margin: 0;
    justify-content: space-around;
    color: #C37B89;
}
.cover-nav a:hover {
    background-color: #87AAAA;
    color: #69DADB;
}
.button {
    font-size: 15px;
    color: gray;
    padding: 5px;
    background-color: rgb(255, 200, 182);
    text-decoration: none;
}
.button:hover {
    background-color: lightgray;
    color: white;
}
.cover {
    display: grid;
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 2px;
    min-height: 120vh;
    text-align: center;
    align-content: space-between;
}
/* .article-header {
    text-align: center;
    background-color: #87AAAA;
    border: 2px block black;
    color: #EEC4C4; 
}*/
.article-select {
    display: flex;
    background-color: #87AAAA;
    text-align: center;
    padding: 5px;
}
.luz {
    background-color: rgb(21, 21, 138);
    margin: 0;
    color: white;
    width: 33.3%;
    text-decoration: none;
}
.vi {
    background-color: rgb(202, 202, 4);
    margin: 0;
    color: white;
    width: 33.3%;
    text-decoration: none;
}
.min {
    background-color: rgb(194, 2, 2);
    margin: 0;
    color: white;
    width: 33.3%;
    text-decoration: none;
}
.luz:hover {
    background-color: rgb(194, 2, 2);
}
.vi:hover {
    background-color: green;
}
.min:hover {
    background-color: rgb(21, 21, 138);
}
 .article-header {
    display: fixed;
    text-align: center;
    top: 250px;
    background-color: #87AAAA;
    color: palegoldenrod;
} 
.article-header:hover {
    background-color: #B5DEFF;
    color: palegoldenrod;
}
.cover-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(images/bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
 }
 .article-luzon {
     /* background-color: #B5EAEA; */
     background-image: url(images/cover3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
  }
 .h1luzon {
     text-align: center;
     background-color: #B5DEFF;
 }
 @media only screen and (max-width: 600px) { 
     
 .luzon-items {
     display: flex; 
     flex-wrap: wrap; 
}
 }
 .luzon-items {
     /* display: flex; */
     /* flex-wrap: wrap; */
     display: grid;
     grid-template-columns: 1fr 50%;
 }
 .img-luzon {
     height: 400px;
     width: 400px;
 }
 .img1 {
     width: 50%;
     height: 50%;
     margin: 10px;
 }
article .gal1 {
    height: 450px;
    width: 450px;
    margin: 10px;
    padding: 5px;
    background-color: #EDF6E5;
    margin-top: 100px;
}
article .gal1:hover {
    transform: scale(1.2);
}
.article-text {
    width: 70%;
    text-align: center;
    background-color: #FFBCBC;
    margin-bottom: 100px;
    padding: 2px;
    border: 2px block #C6D57E;
    border-radius: 10px;
}
.cover-par {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.gallery-article {
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/cover3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-article > .items {
    height: 40%;
    width: 40%;
}
/* 
.luzimg {
    position: static;
    height: 183px;
}
.viimg {
    position: static;
}
.luzimg:hover {
    height: 250px;
    width: 350px;
}
.viimg:hover {
    height: 250px;
    width: 350px;
}
.minimg:hover {
    height: 250px;
    width: 350px;
} */

footer {
    list-style: none;
    display: grid;
    background-color: black;
    color: yellow;
    font-size: 12px;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
}
footer li {
    display: inline-block;
    justify-content: space-around;
    color: white;
}
footer a {
display: block;
padding: 10px 10px;
color: white;
}
 footer a:hover { 
     background-color: white; 
     color: black 
 } 
footer img {
width: 40px;
height: 40px;
}